body {
    /* border: 1px solid red !important; */
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.title-super {
    font-size: 35px;
}

.title-logo {
    margin-top: 10px;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.link {
    text-decoration: none;
    color: black;
}

.row {
    width: 100%;
    margin-bottom: -2px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* height: 437px; */
}

.social-icons {
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.prof-pic {
    float: left;
    height: 250px;
    width: 250px;
    border-radius: 125px;
    margin-bottom: 20px;
}

hr.style13 {
    height: 10px;
    border: 0;
    margin-top: -10px;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 9px;
}

.card>img {
    width: 100%;
    height: 217px;
}

img {
    border-radius: 5px 5px 0 0;
}


/* On mouse-over, add a deeper shadow */

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}